<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WikipediaUITests">
    <test name="WebTests">
        <classes>
            <class name="home.work.tests.web.WikipediaWebTests"/>
        </classes>
    </test>

    <test name="MobileTests">
        <classes>
            <class name="home.work.tests.mobile.WikipediaMobileTests"/>
        </classes>
    </test>

    <test name="APITests">
        <classes>
            <class name="home.work.tests.api.WikipediaAPITests"/>
        </classes>
    </test>
</suite>